SPOTIFY_CLIENT_ID=your_id_here
SPOTIFY_CLIENT_SECRET=your_secret_here
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback

AUDIO_FORMAT=opus  # opus, m4a, mp3, flac, wav
AUDIO_QUALITY=best # best, 256, 192, 160, 128

# yt-dlp options
YTDLP_FFMPEG_LOCATION=/usr/bin/ffmpeg
YTDLP_AUDIO_FORMAT=mp3
YTDLP_AUDIO_QUALITY=0
YTDLP_ADD_METADATA=true
YTDLP_EMBED_THUMBNAIL=true
YTDLP_CONVERT_THUMBNAILS=png
YTDLP_METADATA_TEMPLATE=%(title)s:%(meta_title)s
# YTDLP_OUTPUT_TEMPLATE=  # Default is './%(uploader)s/%(title)s.%(ext)s' or use -o/--output-template
YTDLP_DOWNLOAD_ARCHIVE=channels_archive.txt
YTDLP_RETRIES=10
YTDLP_FRAGMENT_RETRIES=10
YTDLP_RETRY_SLEEP=5
YTDLP_SLEEP_INTERVAL=2
YTDLP_MAX_SLEEP_INTERVAL=5
YTDLP_IGNORE_ERRORS=true
YTDLP_NO_ABORT_ON_ERROR=true
YTDLP_CONCURRENT_FRAGMENTS=4
YTDLP_JSRUNTIMES=node:/home/user/.nvm/versions/node/v23.10.0/bin/node
YTDLP_REMOTE_COMPONENTS=ejs:github
